In [2]:
print("King")
print("i am King slayer")
god = 1
print(f"i am God {god}")

King
i am King slayer
i am God 1

In [1]:
a = [1,2,3,4,5]
print(tuple(a))

(1, 2, 3, 4, 5)

In [2]:
a = (1,2,3,4,5)
print(list(a))

[1, 2, 3, 4, 5]

In [4]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]
c = a 
print(c is a)
print(a is b)

True
False

In [5]:
a = input("enter your name")
print(a)

king

In [1]:
l = [1,2,3,4,5,6,7,8,9]

In [2]:
l.append(10)

In [3]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l.insert(2,11)
l

[1, 2, 11, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
l.pop(2)
l

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l.sort(reverse=True)    
l

[9, 8, 7, 6, 5, 4, 2, 1]

In [7]:
n = int(input())
def binary_to_decimal(n):
    dec = ""
    while n > 0 :
        r = n%2 
        dec += str(r) 
        n = n//2 
    return dec[::-1]  
binary_to_decimal(n)

'100'

In [13]:
name = "I am King Slayer and a fan of virat kohli mokshagna"
name = name.lower()
lst = name.split()
a = name[0]
for i in lst:
    if len(i) > len(a):
        a = i 
    else:
        pass 
print(a)

mokshagna

In [22]:
m = int(input())
n = int(input())
a = []
b = []
c = []
for i in range(m):
    mat_1 = []
    for j in range(n):
        mat_1.append(int(input()))
    a.append(mat_1) 
print(a)

[[4, 5], [6, 8]]

In [23]:
for i in range(m):
    mat_2 = []
    for j in range(n):
        mat_2.append(int(input()))
    b.append(mat_2) 
print(b)

[[2, 2], [5, 6]]

In [33]:
def king(*k,**ks):
    print("kingslayer",k)
    print("wwe",ks)

In [34]:
king(10,20,30,name="ameet",id=10)

kingslayer (10, 20, 30)
wwe {'name': 'ameet', 'id': 10}

In [1]:
num1 = 7.5
num1 = int(num1)
print(num1)

7

In [4]:
print(round(10/3,3))

3.333

In [ ]:
a = "Repetition"
for i in range(1,15):
    a += " " + a 
a

14

In [9]:
a = [10, 20, 30, 40, 50, 30, "Python", True, [1, 2], 99.9]
a.append(100)
a

[10, 20, 30, 40, 50, 30, 'Python', True, [1, 2], 99.9, 100]

In [10]:
a.insert(6,"Mokshagna")
a

[10, 20, 30, 40, 50, 30, 'Mokshagna', 'Python', True, [1, 2], 99.9, 100]

In [11]:
a.remove([1,2])
a

[10, 20, 30, 40, 50, 30, 'Mokshagna', 'Python', True, 99.9, 100]

In [14]:
a.count(30)

2

In [20]:
a.index(30)

2

In [23]:
print(a.reverse())

None

In [25]:
b = [10, 20, 30, 40, 50, 30, "Python", True, [1, 2], 99.9]
b.reverse()

In [30]:
c = [12,13,14,15]
c.reverse()

In [31]:
print(c)

[15, 14, 13, 12]

In [32]:
student = {
    "name": "Alice",
    "age": 22,
    "course": "Computer Science",
    "grades": [85, 90, 92],
    "is_enrolled": True,
    "contact": {
        "email": "alice@example.com",
        "phone": "123-456-7890"
    }
}

In [33]:
student.keys()

dict_keys(['name', 'age', 'course', 'grades', 'is_enrolled', 'contact'])

In [34]:
student.values()

dict_values(['Alice', 22, 'Computer Science', [85, 90, 92], True, {'email': 'alice@example.com', 'phone': '123-456-7890'}])

In [35]:
student.items()

dict_items([('name', 'Alice'), ('age', 22), ('course', 'Computer Science'), ('grades', [85, 90, 92]), ('is_enrolled', True), ('contact', {'email': 'alice@example.com', 'phone': '123-456-7890'})])

In [ ]:
student.update(name)

In [2]:
a = [i**2 for i in range(1,11)] 
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]