In [55]:
student_data = [
    {"Name": "Virat Kohli", "Age": 36, "Job": "Cricketer", "Salary": 20000},
    {"Name": "Satya Nadella", "Age": 56, "Job": "CEO", "Salary": 150000},
    {"Name": "Sundar Pichai", "Age": 52, "Job": "Engineer", "Salary": 140000},
    {"Name": "Rohit Sharma", "Age": 37, "Job": "Cricketer", "Salary": 18000},
    {"Name": "Neha Sharma", "Age": 28, "Job": "Data Scientist", "Salary": 95000},
    {"Name": "Amit Kumar", "Age": 31, "Job": "Software Developer", "Salary": 80000},
    {"Name": "Priya Verma", "Age": 26, "Job": "UX Designer", "Salary": 70000},
    {"Name": "Ramesh Singh", "Age": 45, "Job": "Teacher", "Salary": 55000},
    {"Name": "Anjali Mehta", "Age": 30, "Job": "Doctor", "Salary": 120000},
    {"Name": "Karan Patel", "Age": 34, "Job": "Lawyer", "Salary": 110000}
]

In [23]:
min_salary = min(student_data,key = lambda x : x["Salary"])
min_salary

{'Name': 'Rohit Sharma', 'Age': 37, 'Job': 'Cricketer', 'Salary': 18000}

In [25]:
max_Age = max(student_data,key = lambda x : x["Age"])
max_Age

{'Name': 'Satya Nadella', 'Age': 56, 'Job': 'CEO', 'Salary': 150000}

In [30]:
sorted_age_list = sorted(student_data,key = lambda x : x["Age"])
sorted_age_list

[{'Name': 'Priya Verma', 'Age': 26, 'Job': 'UX Designer', 'Salary': 70000},
 {'Name': 'Neha Sharma', 'Age': 28, 'Job': 'Data Scientist', 'Salary': 95000},
 {'Name': 'Anjali Mehta', 'Age': 30, 'Job': 'Doctor', 'Salary': 120000},
 {'Name': 'Amit Kumar',
  'Age': 31,
  'Job': 'Software Developer',
  'Salary': 80000},
 {'Name': 'Karan Patel', 'Age': 34, 'Job': 'Lawyer', 'Salary': 110000},
 {'Name': 'Virat Kohli', 'Age': 36, 'Job': 'Cricketer', 'Salary': 20000},
 {'Name': 'Rohit Sharma', 'Age': 37, 'Job': 'Cricketer', 'Salary': 18000},
 {'Name': 'Ramesh Singh', 'Age': 45, 'Job': 'Teacher', 'Salary': 55000},
 {'Name': 'Sundar Pichai', 'Age': 52, 'Job': 'Engineer', 'Salary': 140000},
 {'Name': 'Satya Nadella', 'Age': 56, 'Job': 'CEO', 'Salary': 150000}]

In [34]:
sorted_age_salary_list = sorted(student_data,key=lambda x : x["Salary"]) and sorted_age_list 
sorted_age_salary_list

[{'Name': 'Priya Verma', 'Age': 26, 'Job': 'UX Designer', 'Salary': 70000},
 {'Name': 'Neha Sharma', 'Age': 28, 'Job': 'Data Scientist', 'Salary': 95000},
 {'Name': 'Anjali Mehta', 'Age': 30, 'Job': 'Doctor', 'Salary': 120000},
 {'Name': 'Amit Kumar',
  'Age': 31,
  'Job': 'Software Developer',
  'Salary': 80000},
 {'Name': 'Karan Patel', 'Age': 34, 'Job': 'Lawyer', 'Salary': 110000},
 {'Name': 'Virat Kohli', 'Age': 36, 'Job': 'Cricketer', 'Salary': 20000},
 {'Name': 'Rohit Sharma', 'Age': 37, 'Job': 'Cricketer', 'Salary': 18000},
 {'Name': 'Ramesh Singh', 'Age': 45, 'Job': 'Teacher', 'Salary': 55000},
 {'Name': 'Sundar Pichai', 'Age': 52, 'Job': 'Engineer', 'Salary': 140000},
 {'Name': 'Satya Nadella', 'Age': 56, 'Job': 'CEO', 'Salary': 150000}]

In [39]:
age_small = list(filter(lambda x : x["Age"] <= 32,student_data))
age_small

[{'Name': 'Neha Sharma', 'Age': 28, 'Job': 'Data Scientist', 'Salary': 95000},
 {'Name': 'Amit Kumar',
  'Age': 31,
  'Job': 'Software Developer',
  'Salary': 80000},
 {'Name': 'Priya Verma', 'Age': 26, 'Job': 'UX Designer', 'Salary': 70000},
 {'Name': 'Anjali Mehta', 'Age': 30, 'Job': 'Doctor', 'Salary': 120000}]

In [41]:
age_big = list(filter(lambda x:x["Age"]>32,student_data))
age_big

[{'Name': 'Virat Kohli', 'Age': 36, 'Job': 'Cricketer', 'Salary': 20000},
 {'Name': 'Satya Nadella', 'Age': 56, 'Job': 'CEO', 'Salary': 150000},
 {'Name': 'Sundar Pichai', 'Age': 52, 'Job': 'Engineer', 'Salary': 140000},
 {'Name': 'Rohit Sharma', 'Age': 37, 'Job': 'Cricketer', 'Salary': 18000},
 {'Name': 'Ramesh Singh', 'Age': 45, 'Job': 'Teacher', 'Salary': 55000},
 {'Name': 'Karan Patel', 'Age': 34, 'Job': 'Lawyer', 'Salary': 110000}]

In [56]:
student_data

[{'Name': 'Virat Kohli', 'Age': 36, 'Job': 'Cricketer', 'Salary': 20000},
 {'Name': 'Satya Nadella', 'Age': 56, 'Job': 'CEO', 'Salary': 150000},
 {'Name': 'Sundar Pichai', 'Age': 52, 'Job': 'Engineer', 'Salary': 140000},
 {'Name': 'Rohit Sharma', 'Age': 37, 'Job': 'Cricketer', 'Salary': 18000},
 {'Name': 'Neha Sharma', 'Age': 28, 'Job': 'Data Scientist', 'Salary': 95000},
 {'Name': 'Amit Kumar',
  'Age': 31,
  'Job': 'Software Developer',
  'Salary': 80000},
 {'Name': 'Priya Verma', 'Age': 26, 'Job': 'UX Designer', 'Salary': 70000},
 {'Name': 'Ramesh Singh', 'Age': 45, 'Job': 'Teacher', 'Salary': 55000},
 {'Name': 'Anjali Mehta', 'Age': 30, 'Job': 'Doctor', 'Salary': 120000},
 {'Name': 'Karan Patel', 'Age': 34, 'Job': 'Lawyer', 'Salary': 110000}]

In [59]:
low_paid_employee = list(filter(lambda x : x["Salary"]<=60000,student_data))
low_paid_employee

[{'Name': 'Virat Kohli', 'Age': 36, 'Job': 'Cricketer', 'Salary': 20000},
 {'Name': 'Rohit Sharma', 'Age': 37, 'Job': 'Cricketer', 'Salary': 18000},
 {'Name': 'Ramesh Singh', 'Age': 45, 'Job': 'Teacher', 'Salary': 55000}]

In [ ]:
high_paid_employee = list(filter(lambda x : x["Salary"]>60000,student_data))
high_paid_employee

[{'Name': 'Satya Nadella', 'Age': 56, 'Job': 'CEO', 'Salary': 150000},
 {'Name': 'Sundar Pichai', 'Age': 52, 'Job': 'Engineer', 'Salary': 140000},
 {'Name': 'Neha Sharma', 'Age': 28, 'Job': 'Data Scientist', 'Salary': 95000},
 {'Name': 'Amit Kumar',
  'Age': 31,
  'Job': 'Software Developer',
  'Salary': 80000},
 {'Name': 'Priya Verma', 'Age': 26, 'Job': 'UX Designer', 'Salary': 70000},
 {'Name': 'Anjali Mehta', 'Age': 30, 'Job': 'Doctor', 'Salary': 120000},
 {'Name': 'Karan Patel', 'Age': 34, 'Job': 'Lawyer', 'Salary': 110000}]

In [66]:
lst1 = {10,20,30,40,60,70,80,90}
lst2 = {30,40,50,60}
print(lst2.issubset(lst2))
print(lst2.intersection(lst2))
print(lst2.union(lst1))

True
{40, 50, 60, 30}
{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [67]:
lst2 & lst1

{30, 40, 60}

In [68]:
lst2 | lst1

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [75]:
with open("file.txt","w+") as file:
    file.write('i\nam\nKing\tslayer')   
with open("file.txt","r+") as file:
    print(file.read())

i
am
King	slayer

In [ ]:
import datetime as dt 
dt.date.today()

datetime.date(2025, 4, 30)

In [91]:
print(dt.datetime.today())

2025-04-30 20:08:55.569805

In [ ]:
dates = dt.date(2020,11,26)
dates
dates("M")

datetime.date(2020, 11, 26)

In [101]:
dates.strftime("%y")

'20'

In [102]:
times = dt.time(12,35,52)

In [105]:
times.strftime("%M")

'35'

In [ ]:
from datetime import datetime,timezone,timedelta,relativedelta
datetime.now(timezone.utc)

datetime.datetime(2025, 4, 30, 14, 49, 27, 908789, tzinfo=datetime.timezone.utc)

In [108]:
a = [10,20,30,40]
from functools import reduce
print(reduce(lambda x,y : x + y ,a))

100

In [109]:
a = int(input())
b = int(input())
def add_num(a,b):
    try:
       c = a/b
       return c
    except:
        return ZeroDivisionError 
    finally :
        return c     
print(add_num(a,b))

0.5

In [1]:
def welcome():
    return "i am King slayer"
welcome()

'i am King slayer'

In [4]:
def family(msg):
    def father():
        print(msg)
        print("Hari Krishna")
        def mother():
            print("Nagendra Mani")
        return mother()
    return father()

In [5]:
family("Welcome to Family")

Welcome to Family
Hari Krishna
Nagendra Mani

In [18]:
a = [55,66,99]
def total_marks(a):
    def sum_marks():
        print(sum(a))  
    def percen_marks():
        print((sum(a)/300) * 100)
    sum_marks()
    percen_marks() 
total_marks(a)

220
73.33333333333333

In [36]:
def extra_sum(f):
    def inner(x,y):
        if (x%y==0 and y%2==0):
            return f(x,y)
        else:
            return "enter only even numbers"
    return inner
a = int(input())
b = int(input())
@extra_sum
def add(a,b):
    return a + b 
add(a,b)

6

In [37]:
admin_list = [
    {"ID": 1, "Name": "Virat", "Job_role": "Full-Stack Developer"},
    {"ID": 2, "Name": "Anjali", "Job_role": "Backend Developer"},
    {"ID": 3, "Name": "Rohit", "Job_role": "Frontend Developer"},
    {"ID": 4, "Name": "Sneha", "Job_role": "Data Scientist"},
    {"ID": 5, "Name": "Amit", "Job_role": "DevOps Engineer"}
]
user_list = [
    {"ID": 1, "Name": "Priya", "Job_role": "UI/UX Designer"},
    {"ID": 2, "Name": "Karan", "Job_role": "Mobile App Developer"},
    {"ID": 3, "Name": "Neha", "Job_role": "QA Engineer"},
    {"ID": 4, "Name": "Arjun", "Job_role": "Cloud Engineer"},
    {"ID": 5, "Name": "Meena", "Job_role": "Business Analyst"}
]

In [ ]:
def login(func):
    def wrapper():
        if func=="admin":
            name = str(input())
            [i.get(name) for i in admin_list]
    return wrapper 
@login 


def read_data(a):
   return "Welcome"

role = str(input()) 
                
read_data(role)

In [1]:
admin_list = [
    {"ID": 1, "Name": "Virat", "Job_role": "Full-Stack Developer"},
    {"ID": 2, "Name": "Anjali", "Job_role": "Backend Developer"},
    {"ID": 3, "Name": "Rohit", "Job_role": "Frontend Developer"},
    {"ID": 4, "Name": "Sneha", "Job_role": "Data Scientist"},
    {"ID": 5, "Name": "Amit", "Job_role": "DevOps Engineer"}
]

user_list = [
    {"ID": 1, "Name": "Priya", "Job_role": "UI/UX Designer"},
    {"ID": 2, "Name": "Karan", "Job_role": "Mobile App Developer"},
    {"ID": 3, "Name": "Neha", "Job_role": "QA Engineer"},
    {"ID": 4, "Name": "Arjun", "Job_role": "Cloud Engineer"},
    {"ID": 5, "Name": "Meena", "Job_role": "Business Analyst"}
]

def login(func):
    def wrapper(role):
        name = input("Enter your name: ")
        if role == "admin":
            for admin in admin_list:
                if admin["Name"].lower() == name.lower():
                    print(f"Admin Access Granted: {admin['Name']} - {admin['Job_role']}")
                    return func(role)
            print("Admin not found.")
        elif role == "user":
            for user in user_list:
                if user["Name"].lower() == name.lower():
                    print(f"User Access Granted: {user['Name']} - {user['Job_role']}")
                    return func(role)
            print("User not found.")
        else:
            print("Invalid role.")
    return wrapper

@login
def read_data(role):
    return "Welcome to the system!"

role_input = input("Enter role (admin/user): ").lower()
print(read_data(role_input))

Admin Access Granted: Virat - Full-Stack Developer
Welcome to the system!